<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" type="text/css" href="aboutUsStyle.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="loader.js" defer></script>
    <script src="languageButton.js" defer></script>
    <script src="smallNav.js" defer></script>
    <script src="app.js" type="application/javascript" defer></script>
    <script src="pageFooter.js" defer></script>
    <script src="traversal.js" defer></script>
    <title><%= lang['nav2'] + ' | kjfilmproduction.ee' %></title>
  </head>
  <body>
    <nav id="navigation">
      <a id="logoContainer" href="<%= lang['href1'] %>"><img id="logo" /></a>
      <ul>
        <li>
          <a href="<%= lang['href1'] %>" class="navItem"><%= lang['nav1'] %></a>
        </li>
        <li>
          <a href="<%= lang['href2'] %>" class="navItem active"
            ><%= lang['nav2'] %></a
          >
        </li>
        <li>
          <a href="<%= lang['href3'] %>" class="navItem"><%= lang['nav3'] %></a>
        </li>
        <li>
          <a href="<%= lang['href4'] %>" class="navItem"><%= lang['nav4'] %></a>
        </li>
        <li>
          <a href="<%= lang['href5'] %>" class="navItem"><%= lang['nav5'] %></a>
        </li>
      </ul>
    </nav>
    <div id="languageBtn"></div>
    <section id="animationMainContainer">
      <p id="meistText" class="beforeTraverse"><%= lang['aboutUs1'] %></p>
      <section class="animation">
        <div class="animationC1">
          <img
            id="img"
            class="from-left animationEl"
            src="images/kaspar_pildistamas.jpg"
          />
          <p id="text" class="from-right animationEl">
            <%= lang['aboutUs2'] %>
          </p>
        </div>
      </section>

      <section class="animation">
        <div class="animationC2">
          <p id="text" class="from-left animationEl"><%= lang['aboutUs3'] %></p>
          <img
            id="img"
            class="from-right animationEl"
            src="images/joosep_töötamas.webp"
          />
        </div>
      </section>
    </section>
    <section class="equipmentContainer">
      <p id="equipmentTitle" class="beforeTraverse"><%= lang['aboutUs4'] %></p>

      <div class="equipmentMain">
        <div id="equipment">
          <p>Sony a7 III</p>
          <p>4K 25fps, 1080p 100fps</p>
          <img src="images/sony_kaamera.webp" />
        </div>
        <div id="equipment">
          <p>DJI Mavic Pro</p>
          <p>4K 25fps</p>
          <img src="images/droon.webp" />
        </div>
        <div id="equipment">
          <p>DJI Ronin-SC</p>
          <p><%= lang['aboutUs5'] %></p>
          <img src="images/Dji_Ronin.webp" />
        </div>
      </div>
    </section>

    <footer class="footer"></footer>
  </body>
</html>
