<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="feedbackStyle.css">
    <script src="loader.js" defer></script>
    <script src="languageButton.js" defer></script>
    <script src="smallNav.js" defer></script>
    <script src="feedbackStars.js" defer></script>
    <script src="feedbackInput.js" defer></script>
    <script src="pageFooter.js" defer></script>
    <script src="traversal.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title><%= lang['nav4'] + ' | kjfilmproduction.ee' %></title>
</head>
<body>
    <nav id="navigation">
        <a id="logoContainer" href="<%= lang['href1'] %>"><img id='logo'/></a>
        <ul>
            <li>
                <a href="<%= lang['href1'] %>" class="navItem"><%= lang['nav1'] %></a>
            </li>
            <li>
                <a href="<%= lang['href2'] %>" class="navItem"><%= lang['nav2'] %></a>
            </li>
            <li>
                <a href="<%= lang['href3'] %>" class="navItem"><%= lang['nav3'] %></a>
            </li>
            <li>
                <a href="<%= lang['href4'] %>" class="navItem active"><%= lang['nav4'] %></a>
            </li>
            <li>
                <a href="<%= lang['href5'] %>" class="navItem"><%= lang['nav5'] %></a>
            </li>
        </ul>
    </nav>
    <div id="languageBtn"></div>
    <section class="feedbackFormContainer beforeTraverse">
        <div class="feedbackText">
            <p><%= lang['feedback1'] %></p>
            <p><%= lang['feedback2'] %></p>
        </div>
        <form action="/feedback" method="POST" id="feedbackForm">
            <div class="align">
                <div>
                    <label for="feedbackName"><%= lang['nameForm'] %></label>
                    <input type="text" id="feedbackName" name="feedbackName" required>
                </div>
                <div>
                    <label for="feedbackMessage"><%= lang['messageForm'] %></label>
                    <textarea id="feedbackMessage" name="feedbackMessage" required></textarea>
                </div>
                <div id="starRatingContainer">
                    <p><%= lang['ratingForm'] %></p>
                    <div id="starRatingIcons">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                </div>
            </div>
                <p id="messageInfoFeedback"></p>
                <button type="submit" id="feedbackBtn"><%= lang['sendForm'] %></button>
        </form>
    </section>

    <footer class="footer"></footer>

</body>
</html>