<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="Kaspar Joosep, kjfilmproduction, Kaspar and Joosep film production, video editing, film production, montage services, montaaž"
    />
    <meta
      name="description"
      content="Kaspar & Joosep Film Production - videoreklaamid ja montaaž - võta meiega ühendust ja loome koos midagi erakordset!"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" type="text/css" href="homeStyle.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="loader.js" defer></script>
    <script src="languageButton.js" defer></script>
    <script src="smallNav.js" defer></script>
    <script src="parallax.js" defer></script>
    <script src="collageAnimation.js" defer></script>
    <script src="pageFooter.js" defer></script>
    <script src="traversal.js" defer></script>
    <title><%= lang['nav1'] + ' | kjfilmproduction.ee' %></title>
  </head>
  <body>
    <nav id="navigation">
      <a id="logoContainer" href="<%= lang['href1'] %>"><img id="logo" /></a>
      <ul>
        <li>
          <a href="<%= lang['href1'] %>" class="navItem active"
            ><%= lang['nav1'] %></a
          >
        </li>
        <li>
          <a href="<%= lang['href2'] %>" class="navItem"><%= lang['nav2'] %></a>
        </li>
        <li>
          <a href="<%= lang['href3'] %>" class="navItem"><%= lang['nav3'] %></a>
        </li>
        <li>
          <a href="<%= lang['href4'] %>" class="navItem"><%= lang['nav4'] %></a>
        </li>
        <li>
          <a href="<%= lang['href5'] %>" class="navItem"><%= lang['nav5'] %></a>
        </li>
      </ul>
    </nav>

    <div id="languageBtn"></div>
    <div id="imgFrontContainer">
      <div id="welcomeText">
        <div class="beforeTraverse">
          <p>Kaspar & Joosep</p>
          <p>Film Production</p>
        </div>

        <p class="beforeTraverse"><%= lang['home1'] %></p>
      </div>
      <picture>
        <source
          media="(max-width: 1325px)"
          sizes="1px"
          srcset="
            data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7 1w
          "
        />
        <source media="(min-width: 1326px)" srcset="/images/kaamera.webp" />
        <img src=”images/kaamera.webp” class="imgFront1" alt="Kaamera"/>
      </picture>

      <div>
        <img
          class="imgFront2"
          src="images/videograafia.jpg"
          alt="Videograafia"
        />
      </div>

      <div>
        <img
          class="imgFront3"
          src="images/monteerimine.jpg"
          alt="Monteerimine"
        />
      </div>
    </div>

    <section id="serviceContainer">
      <div class="serviceText beforeTraverse">
        <p><%= lang['home2'] %></p>
        <p><%= lang['home3'] %></p>
      </div>
      <div class="collage beforeTraverse">
        <img id="img1" src="images/joosep_töötamine.webp" />
        <img id="img2" src="images/rahvas.webp" />
        <img id="img3" src="images/loojang.webp" />
        <img id="img4" src="images/kaspar_töötamine.webp" />
      </div>
    </section>

    <footer class="footer"></footer>
  </body>
</html>